html{
	background-color:black;
	cursor: crosshair;
	font-family:Arial, Helvetica, sans-serif;
}

h1{
	color:rgb(255,171,0);
	background-color:black;
}

body{
color:rgb(255,171,0);
}

.red{
	background-color:red;
}