html{
	background-color:black;
	cursor: crosshair;
	font-family:Arial, Helvetica, sans-serif;
}

h4{
	color:rgb(255,171,0);
	background-color:black;
}




.red{
	background-color:red;
}

.black{
	background-color:black;
}

.box{
	width:100px;
	height:25px;
	background-color:white;
	top:20%;
	left:22%;
}



.box2{
	width:100px;
	height:25px;
	background-color:white;
	top:8%;
	left:70%;
}

.box3{
	width:100px;
	height:25px;
	background-color:red;
	top:70%;
	left:62%;
}

a, a:hover, a:active, a:visited { color: white; }

a:hover{
	background-color:#FFFACD;
}
