#mainNav {
	background-color: $dark-gray;
	> a:hover {
		color: $link-hover-color !important;
	}

	.navbar-brand {
		font-weight: 600;
		font-size: 1.5em;
		padding-left: 5em;
	}

	.navbar-nav {
		font-weight: 500;
		font-size: 1.1em;
		padding-right: 5em;
	}
}